* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
--grey: rgb(41,41,44);
--orange: rgb(194, 81, 29);
--white: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: var(--white);
}

/*Hover styles*/
nav a:hover {
  transform: scale(1.1);
}

.hover-card:hover {
  transform: scale(1.02);
}

.list-group-item img:hover {
  transform: scale(1.2);
}

.list-group-item a:hover {
  color: var(--grey)
}

.btn:hover {
  box-shadow: 2px 4px var(--orange);
}

/* Nav Bar styling*/
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 25px;
  padding: 1vw;
}

.nav-item {
  margin: 0px 15px;
}

/* Jumbotron styling */
.jumbotron {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--orange);
  color: var(--white);
}


main {
  background-color: var(--grey);
}

/* giving profile picture circular shape */
#profile-picture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

/* Section headings styling */
.sectionHeading {
  color: var(--white);
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

/*Card styling*/
.work-row1, .work-row2, .work-row3 {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  background: var(--orange);
  color: var(--white);
  padding: 0.1vw;
}

.image-size {
  height: 300px;
  object-fit: cover;
}

/*Skills section styling*/
.skills-list {
  text-align: center;
}

.list-group-item img{
  padding-right: 10px;
}

.list-group-item {
  background: var(--orange);
  color: var(--white);
}

/* footer styling */
footer .card{
  background-color: var(--grey);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--grey);
}

footer p {
  color:var(--white);
}

/* media queries */
@media only screen and (max-width: 992px){
  nav a:hover {
    transform: scale(1.01);
  }
}