* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --shadow: drop-shadow(0px 0px 10px rgba(10, 10, 10, 0.9));
}

a {
  text-decoration: none;
  color: white;
}

/*Hover styles*/
nav a:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.02);
}

.list-group-item img:hover {
  transform: scale(1.2);
}

.list-group-item a:hover {
  color:rgb(41, 41, 44)
}

/* Nav Bar styling*/
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 25px;
  padding: 1vw;
}

.nav-item {
  margin: 0px 15px;
}

/* Jumbotron styling */
.jumbotron {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(194, 81, 29);
  color: white;
}


main {
  background-color: rgb(41, 41, 44);
}

/* giving profile picture circular shape */
#profile-picture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.sectionHeading {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

/*Card styling*/
.work-row1, .work-row2, .work-row3 {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  background: rgb(194, 81, 29);
  color: white;
}


/*Skills*/
.skills-list {
  text-align: center;
}

.list-group-item img{
  padding-right: 10px;
}

.list-group-item {
  background: rgb(194, 81, 29);
  color: white;
}

