* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Nav Bar styling*/
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 35px;
}

.nav-item {
  margin: 0px 15px;
}


main {
  background-color: rgb(41, 41, 44);
}

/* giving profile picture circular shape */
#profile-picture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.sectionHeading {
  color: white;
}